.instalments-modal {
    .fi-modal-content {
        @apply bg-gray-200 rounded-[19px];
    }

    thead {
        position: relative;
    }

    thead::after {
        content: "";
        display: block;
        height: 40px; /* tamanho do espaço */
    }
}
