/* Define as variáveis de cor baseadas no data-tab-color */
[data-tab-color="gray"] {
    --tab-color: #6B7280;
    --tab-color-rgb: 107, 114, 128;
}

[data-tab-color="green"] {
    --tab-color: #22C55E;
    --tab-color-rgb: 16, 185, 129;
}

[data-tab-color="red"] {
    --tab-color: #FF3B30;
    --tab-color-rgb: 239, 68, 68;
}

[data-tab-color="orange"] {
    --tab-color: #F69400;
    --tab-color-rgb: 245, 158, 11;
}
