@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.fi-layout {
  @apply bg-gray-100
  /*dark:bg-[#252a35]*/
  ;
}

.fi-topbar nav,
.fi-sidebar-header {
  @apply bg-gray-100 shadow-none ring-0
  /*dark:bg-[#252a35]*/

}

.fi-sidebar-header {
  @apply max-w-[276px]
  /*dark:bg-[#252a35]*/

}

.fi-sidebar {
  @apply shadow-none
}

.fi-sidebar-header {
  @apply h-[130px] items-end pb-[40px] ring-0 bg-gray-200
}

.fi-sidebar-nav {
  @apply bg-gray-200 max-w-[276px]
}

.fi-sidebar-nav-groups {
  @apply gap-[32px]
}

.fi-sidebar-group-label {
  @apply text-neutral-400
}

.fi-sidebar-item a {
  @apply hover:bg-gray-100 hover:shadow-md text-neutral-700
}

.fi-sidebar-item-active a {
  @apply bg-primary-900 shadow-sm hover:bg-primary-900
}

.fi-sidebar-item-icon {
  @apply text-neutral-400
}

.fi-sidebar-item-active a svg,
.fi-sidebar-item-active a span {
  @apply text-neutral-50
}

.fi-logo {
  @apply !h-[33px] w-[197px]
}


.fi-btn-color-primary {
  @apply bg-primary-900 text-center text-sm text-white font-semibold leading-tight px-3 py-1.5 rounded-lg shadow-md inline-flex justify-center items-center gap-1.5 hover:bg-primary-500;
}



.fi-resource-list-records-page {}

.fi-tabs {
  @apply ml-[20px] mb-[-113px] z-20;
  background: none;
  box-shadow: none;
}

.fi-tabs-item {
  @apply min-w-[100px] rounded-t-[20px] rounded-b-[0];
  border: 1px solid #e5e5e5;
}

.fi-ta {
  @apply rounded-lg pt-[20px];
}

.fi-ta-ctn {
  background: none;
  @apply !ring-0;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
}

.fi-ta-ctn {
  @apply flex flex-col;
}

.fi-ta-header-toolbar {
  @apply z-10
}

.fi-ta-selection-indicator {
  align-self: end;
  background: none;
  border: none;
  @apply flex gap-5;
}

.fi-ta-actions {}

.fi-ta-table thead tr {
  @apply bg-white
}

.fi-ta-table thead tr>*:nth-child(2) span span {
  border-left: none !important;
}

.fi-ta-header-cell span span {
  border-left: 2px solid rgba(191, 191, 191, 1) !important;
  @apply text-neutral-500 pl-[20px] ml-[-20px]
}

.fi-ta-content {
  border: 1px solid rgba(191, 191, 191, 1) !important;
  @apply bg-white rounded-[20px] mb-[25px]
}

.fi-ta-text-item-label {
  @apply text-neutral-500;
}


.fi-checkbox-input {
  border: 1px solid rgba(112, 112, 112, 1) !important;
}

.fi-ta-toggle div {
  @apply bg-success-500;
}

.fi-pagination {
  border: 1px solid rgba(191, 191, 191, 1) !important;
  @apply bg-white rounded-[20px]
}

.fi-pagination-overview {
  @apply text-gray-600
}